<div class="container mx-auto px-4">
  <div class="flex justify-center mt-4 mb-4">
    <div class="w-full max-w-5xl">
      <div class="bg-base-200 min-h-3.5 p-2">
        <p>
          推し仲間を見つけたい！でも発信することに恥ずかしさがある。<br>
          そんな人が推し仲間を探すハードルを下げる場を作りました！<br>
          「アプリ名」では、同じ性別の人や推しが同じ人にだけ発信できます！<br>
        </p>
      </div>
    </div>
  </div>
</div>