<div class="container mx-auto px-4 mb-36">
  <div class="flex justify-center">
    <div class="w-full max-w-5xl">
      <h1 class="text-center text-3xl font-bold mt-10 mb-4"><%= @profile.user.name %>お気に入り記事一覧</h1>

      <!-- 検索フォーム -->
      <%= render 'shared/search_form', q: @q, url: favorite_articles_profile_path(@profile) %>

      <!-- 記事一覧 -->
      <div class="bg-base-200 min-h-3.5 p-2">
        <% if @articles.present? %>
          <%= render partial: 'articles/article', collection: @articles %>
        <% else %>
          <h1 class="text-center text-xl">お気に入り登録している記事はありません</h1>
        <% end %>
      </div>

      <!-- ページネーション -->
      <%= paginate @articles %>

    </div>
  </div>
</div>