<div class="container mx-auto px-8">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-md">
      <h1 class="text-2xl font-bold mb-6">パスワードリセット申請</h1>
      <%= form_with url: password_resets_path do |f| %>
        <div class="mb-4">
          <%= f.label :email, class: "block mb-1" %>
          <%= f.email_field :email, class: "input input-bordered w-full" %>
        </div>
        <div class="mx-auto flex justify-center text-center mb-4">
          <%= f.submit "メールを送信する", class: 'btn btn-neutral mb-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>