<div id="comment-form">
  <%= form_with model: comment, url: article_comments_path(article) do |f| %>
    <div>
      <%= f.label :body, "コメント", class: "block mb-1" %>
      <%= f.text_area :body, class: "textarea textarea-bordered w-full max-w-3xl" %>
    </div>
      <%= f.submit "作成", class: 'btn btn-neutral mt-2' %>
  <% end %>
</div>
