<div class="container mx-auto px-4 mt-4 mb-36">
  <div class="flex justify-center">
    <div class="w-full max-w-5xl">
      <%= render 'search_article', q: @q, url: articles_path %>
      <div class="bg-base-200 min-h-3.5 p-2">
        <div>
          <% if @articles.present? %>
            <%= render partial: 'article', collection: @articles %>
          <% else %>
            <h1>記事はありません</h1>
          <% end %>
        </div>
      </div>
      <%= paginate @articles %>
    </div>
  </div>
</div>