<% content_for(:title, "コメント通知一覧") %>

<div class="container mx-auto px-4">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-3xl">
      <h1 class="text-center text-2xl font-bold mb-4">コメント通知</h1>
    
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>

        <!-- 通知一覧 -->
        <% if @notifications.present? %>
          <%= render partial: 'notification', collection: notifications %>
        <% else %>
          <h1 class="text-center text-lg">通知まだありません</h1>
        <% end %>
      

    </div>
  </div>
</div>