<% content_for(:title, "推し編集") %>

<div class="container mx-auto px-8">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-2xl">

      <div class="mx-auto flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold">推し編集</h1>
        <%= link_to "削除", oshi_detail_path(@oshi_detail), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-outline btn-accent' %>
      </div>

      <%= form_with model: @oshi_detail, method: :patch do |f| %>
        <%= render 'form', oshi_detail: @oshi_detail, f: f %>
      <% end %>
    </div>
  </div>
</div>