<% content_for(:title, "推し登録") %>

<div class="container mx-auto px-8">
  <div class="flex justify-center mt-8">
    <div class="w-full max-w-2xl">
      <h1 class="text-2xl font-bold mb-6">推し登録</h1>
      <%= form_with model: @oshi_detail, url: profile_oshi_details_path(current_user.profile) do |f| %>
        <%= render 'form', oshi_detail: @oshi_detail, f: f %> 
      <% end %>
    </div>
  </div>
</div>