<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to "アプリ名", root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="space-x-4">
    <%= link_to "記事一覧", "#", class: 'btn btn-neutral' %>
    <%= link_to "ログイン", login_path, class: 'btn btn-neutral' %>
    <%= link_to "新規作成", sign_up_path, class: 'btn btn-neutral' %>
  </div>
</div>