<footer class="footer bg-base-300 fixed bottom-0 text-ghost-content p-2 flex flex-col items-center gap-2">
  <div class="flex justify-center space-x-5">
    <%= link_to "プライバシーポリシー", policy_path, class: "hover:underline" %>
    <%= link_to "利用規約", term_path, class: "hover:underline" %>
    <%= link_to "お問い合わせフォーム", "https://forms.gle/27XAUd5L6GkLqM4z5", class: "hover:underline" %>
    
  </div>
  <div class="text-center">
    <p class="m-0">Copyright@ 2024 推しOPEN</p>
  </div>
</footer>