<footer class="footer bg-base-300 fixed bottom-0 text-ghost-content p-2 flex flex-col items-center gap-2">
  <div class="flex justify-center space-x-5">
    <a class="link link-hover">プライバシーリテラシー</a>
    <%= link_to "利用規約", term_path %>
    <a class="link link-hover">お問い合わせフォーム</a>
  </div>
  <div class="text-center">
    <p class="m-0">Copyright@ 2024 推しOPEN</p>
  </div>
</footer>