<footer class="footer bg-base-300 text-ghost-content p-5 flex flex-col items-center">
  <div class="flex justify-center space-x-5">
    <a class="link link-hover">プライバシーリテラシー</a>
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">お問い合わせフォーム</a>
  </div>
  <div class="text-center">
    <p>Copyright@ 2024 推しOPEN</p>
  </div>
</footer>