<footer class="footer bg-base-300 fixed bottom-0 flex justify-between w-full">
  <%= link_to profile_path(current_user.profile), class: "flex flex-col items-center hover:bg-gray-300 flex-1 py-3" do %>
    <i class="fa-sharp-duotone fa-solid fa-house"></i>
    <p>マイページ</p>
  <% end %>

  <%= link_to articles_path, class: "flex flex-col items-center hover:bg-gray-300 flex-1 py-3" do %>
    <i class="fa-sharp-duotone fa-solid fa-list"></i>
    <p>記事一覧</p>
  <% end %>

  <%= link_to new_article_path, class: "flex flex-col items-center hover:bg-gray-300 flex-1 py-3" do %>
    <i class="fa-sharp-duotone fa-solid fa-pen-to-square"></i>
    <p>記事作成</p>
  <% end %>

  <%= link_to logout_path, data: { turbo_method: :delete }, class: "flex flex-col items-center hover:bg-gray-300 flex-1 py-3" do %>
    <i class="fa-sharp-duotone fa-solid fa-right-from-bracket"></i>
    <p>ログアウト</p>
  <% end %>

</footer>