<footer class="footer bg-base-300 fixed bottom-0">
  <div class="w-full max-w-5xl mx-auto">
    
    <!-- フォーム -->
    <%= form_with model: @message, url: room_messages_path(@room), class: "flex items-center w-full px-4 space-x-4 pt-2 pb-2" do |f| %>
      <%= f.text_field :body, class: "textarea textarea-bordered flex-grow" %>  
      <%= f.submit "送信", class: 'btn btn-neutral flex-none' %>
    <% end %>

  </div>
</footer>