<div class="container mx-auto px-4 mb-36">
  <div class="flex justify-center">
    <div class="w-full max-w-5xl">
      <h1 class="text-center text-3xl font-bold mt-10 mb-4">チャットルーム一覧</h1>

      <div class="bg-base-200 min-h-3.5 p-2">
        <% if @rooms.present? %>
          <%= render partial: 'room', collection: @rooms %>
        <% else %>
          <h1 class="text-center text-xl">チャットルームはありません</h1>
        <% end %>
      </div>

    </div>
  </div>
</div>