<div class="container mx-auto px-4">
  <div class="flex justify-center">
    <div class="w-full max-w-5xl">

      <div class="bg-base-200 h-screen p-2 overflow-y-auto">
        <%= render @messages %>
      </div>

    </div>
  </div>
</div>